@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 33% 97%;
    --foreground: 240 10% 3.9%;
    --card: 330 33% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 330 33% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 326 60% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 309 25% 85%;
    --secondary-foreground: 326 60% 52%;
    --muted: 309 25% 85%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 45 100% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 309 20% 80%;
    --input: 309 20% 80%;
    --ring: 326 84% 69%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 30% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 30% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 30% 98%;
    --primary: 326 60% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 30% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 45 100% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 326 84% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
